# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

/*.lock export-ignore
/.distignore export-ignore
/.editorconfig export-ignore
/.eslintrc export-ignore
/.git export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.stylelintrc.json export-ignore
/.wordpress-org export-ignore
/composer.json export-ignore
/node_modules export-ignore
/src export-ignore
/package.json export-ignore
/phpcs.xml export-ignore
/tests export-ignore
/webpack.config.js export-ignore
