:root {
	--global--spacing-horizontal: 25px;
	--global--spacing-vertical: 30px;
	--global--font-size-xs: 1rem;

	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));

	--button--color-text: var(--ast-dark-mode--button-text-color);
	--button--color-border: var(--ast-dark-mode--button-border-color);
	--button--color-background: var(--ast-dark-mode--button-background-color);

	--button--color-text-active: var(--ast-dark-mode--button-text-color-active);
	--button--color-border-active: var(--ast-dark-mode--button-border-color-active);
	--button--color-background-active: var(--ast-dark-mode--button-background-color-active);
}
